/* : followed by root */
:root {
  /* front size */
  --fs-base: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-xxl: 25px;
  --fs-xxxl: 35px;
  /* front weight */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 800;
  /* bg-color */
  --bg-primary: #fff8f3;
  --bg-secondary: #fd6e0a;
  /* text-color */
  --text-color-primary: #757575;
  --text-color-secondary:#474747;
  --text-color-neutral:#181818;

  --color-neutral:#ffffff;

}
body {
    
    font-family: "Open Sans", serif;
    box-sizing: border-box;
    color: var(--text-color-primary);
    font-size: var(--fs-base);
    font-weight: var(--fw-regular);
  }
  li{
    list-style: none;
  }

  .header-container{
    display: flex;
    background-color: var(--bg-primary);
    background-image: url('/assests/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
      }
  .banner-container{
    width: 85vw;
    margin: 0px auto;
   
    
  }

  .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
       
  }
  .name{
    font-weight:var(--fw-bold);
    color:var(--text-color-neutral);

  }
  .nav-list{
    display: flex;
    gap:20px;
    font-size: var(--fs-xl);
    color:var(--text-color-secondary);
    font-weight: var(--fw-regular);
    align-items: center;

  }
  button{
    font-size: var(--fs-xl);
    color:var(--color-neutral);
    font-weight:var(--fw-bold);
    background-color: var(--bg-secondary);
    border-radius: 8px;
    border: 1px;
    padding: 7px 12px;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  main{
    background-color: var(--color-neutral);
    width: 80vw;
    margin: 100px auto;
  }
  .intro-container{
    background-color: var(--bg-primary);
    padding: 50px  180px;
    text-align: center;
    
    
  }
  .intro-section{
    
  background-color: var(--color-neutral);
  
  }
  h3{
    color: var(--text-color-neutral);
   font-weight: var(--fw-semi-bold);
    font-size: var(--fs-xxxl);
    text-align: center;
  }
  .about{
    font-size: var(--fs-lg);
  }
.address-section{
  display: flex;
  justify-content: space-evenly;
  

}

h4{
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi-bold);
  color:var(--text-color-secondary);
}
.address h4{
  margin-top: 0px;
}
.work{
  text-align: center;
  padding: 50px 80px;
}
.skills{
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* width: 15vw; */
  background-color: var(--color-neutral);
  padding: 20px;
  border:2px solid var(--color-neutral);
  box-shadow: 2px 2px 4px gray;
  border-radius: 4px;
}
.skill{
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi-bold);
  color: var(--text-color-neutral);
}
.skill-container{
  display: flex;
  gap: 15px;
  padding: 20px;
}
.resume-container{
  margin-top: 70px;
}
.resume{
  display: flex;
  gap: 15px;
  padding: 20px 20px;
}
.line{
  
  border: 1px solid gainsboro;
  margin-bottom: 15px;
  margin-top: 5px;
  
}
.affiliation{
  margin-bottom: 10px;
  font-size: var(--fs-xl);
  font-weight: var(--fw-semi-bold);
}
.my-edu h4{
  font-size: 30px;
  color: var(--text-color-secondary);
  font-weight: var(--fw-semi-bold);
}
.my-edu h5{
 color: var(--text-color-secondary);
 font-size: var(--fs-xxl);
 font-weight: var(--fw-semi-bold);
}
.cv{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 80px;
}
footer{
  background-color:  var(--bg-primary);
}
.footer-container{
  width: 80vw;
  margin:  auto;
  display: flex;
  gap: 70px;
  justify-content: space-between;
  padding: 20px;
  
  
  
  
}
.inputs{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 30px;
}
.foot-head{
  margin-top: 50px;
  font-size: var(--fs-xxxl);
  color: #181818;
  font-weight: var(--fw-semi-bold);
}

